<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <!-- Define los destinos (targets) -->
    <targets>
        <!-- Escribir logs en un archivo -->
        <target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log"
                layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />

        <!-- Escribir logs en la consola -->
        <target name="logconsole" xsi:type="Console"
                layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />
    </targets>

    <targets async="true">
        <target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log" />
    </targets>
    
    <!-- Define las reglas de logging -->
    <rules>
        <!-- Todos los logs de nivel "Info" o superior se escriben en el archivo y la consola -->
        <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
    </rules>
</nlog>